<div class='slot-container'>
    <div class="slot-items-container">
        <div class="slot-item slot-item-left">
            <img class="slot-img" src={{slot1}} alt="slot1">
        </div>
        <div class="slot-item slot-item-mid">
            <img class="slot-img" src={{slot2}} alt="slot2">
        </div>
        <div class="slot-item slot-item-right">
            <img class="slot-img" src={{slot3}} alt="slot3">
        </div>
    </div>
    <button class="slot-button" (click)="rand() " >SPIN!!</button>
    <div [innerHtml]="spoils"></div>
</div>