<div class='slot-container'>
    <div class="slot-spoils-container">
        <span *ngIf="showReward">Congratulations! You won a {{pokemon.name}}.</span>
        <img *ngIf="showReward" src={{spoils}}>
        
    </div>
    <div class="slot-items-container">
        <img class="slot-item slot-item-left" src={{slot1}} alt="slot1">
        <img class="slot-item slot-item-mid" src={{slot2}} alt="slot2">
        <img class="slot-item slot-item-right" src={{slot3}} alt="slot3">
    </div>
    <button class="slot-button" (click)="rand()">SPIN!!</button>
</div>