:host {
  width:100%;
}

.pagination-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.pagination {
  padding-top: 10px;
  display: inline-flex;
  padding-bottom: 5px;
}
  
.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.disabled{
  pointer-events: none;
  cursor: default;
  opacity: 0;
}

.pagination a.active {
  background-color:rgb(226, 28, 43);
  color: white;
}

.pagination a:hover:not(.active) {
    background-color: rgb(226, 28, 43);
}

