.navbar-custom {
    background-color: rgb(226, 28, 43);
}

.navbar-custom a {
    color: white;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.md-form {
    color: red;
}

img {
    max-width: 100%;
    max-height: 100%;
}