:host {
    width: 100%;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(29, 29, 29);

    border-radius: 6px;
    border: 2px solid rgb(33, 33, 33);
    margin-top: 2%;

    color: white;
}

.pokemon-label {
    font-size: 25px;
    text-align: center;
}

.pokemon-sprite {
    height: 300px;
    width: 300px;
}

.pokemon-types-container {
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-around;
}

.pokemon-type {
    font-size: 20px;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
}

.stats-divider {
    margin-top: 7%;
    text-align: center;
    font-size: 17px;
}

.pokemon-stats-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 3%;
    font-size: 14px;
}

.pokemon-stat {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

.stat-label {
    margin-left: 2%;
    margin-right: 5%;
    width: 20%;
}

.stat-bar {
    width: 70%;
    background-color: rgb(24, 24, 24);
}
.bar {
    color: white;
}