
<br>

<body>
    <form>
        <!-- Fieldset acts as a container -->
        <fieldset>
            <br>
            <h1>{{this.name}}</h1>
            <div>
                <br>
                <div>
                    <img class="sprite " src={{sprite}} alt="Pokemon Sprite ">
                </div>
                <br>
                <div class="des">
                    <p>DATA</p>
                    <p>DATA</p>
                    <p>DATA</p>
                    <p>DATA</p>
                </div>
            </div>
        </fieldset>
    </form>
</body>